.list-wrap{
  width: 100%;
  padding: 20px;
  border-radius: 2px;
  box-sizing: border-box;
  margin-bottom: 30px;
  background-color: #f2f3f7;
  box-shadow: 0 5px 10px #e9ebf1;
  transition: all ease-in 0.5s;
}

.list-wrap:hover{
  box-shadow: 5px 10px 20px #dadeeb;
}

.ant-list-vertical .ant-list-item-main{
  font-weight: 100;
  font-size: 12px;
  // -webkit-font-smoothing: antialiased;
}

.ant-list-vertical .ant-list-item-meta-title{
  font-weight: 200;
  font-size: 14px;
}