.nav-wrap{
  width: 100%;
}

.affix-wrap{
  width: 100%;
  background-color: #f2f3f7;
  box-shadow: 0 15px 20px #e9ebf1;
}

.nav-bar{
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  font-weight: 300;
}

.header-logo{
  padding-left: 20px;
}

.nav-list{
  text-align: right;
  
}

.ant-menu{
  background-color: #f2f3f7;
}

.small:not(:last-child){
  font-size: 12px;
}