.nav-wrap{
  width: 100%;
  box-shadow: 0 5px 5px #eee;
}

.nav-bar{
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  font-weight: 300;
}

.header-logo{
  padding-left: 20px;
}

.nav-list{
  text-align: right;
}